<h1>Listing teams</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Nickname</th>
    <th>Sport</th>
    <th>Icon</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @teams.each do |team| %>
  <tr>
    <td><%= team.name %></td>
    <td><%= team.nickname %></td>
    <td><%= team.sport %></td>
    <td><%= team.icon %></td>
    <td><%= link_to 'Show', team %></td>
    <td><%= link_to 'Edit', edit_team_path(team) %></td>
    <td><%= link_to 'Destroy', team, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Team', new_team_path %>
