<%= form_for(@vote) do |f| %>
  <% if @vote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vote.errors.count, "error") %> prohibited this vote from being saved:</h2>

      <ul>
      <% @vote.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :gameid %>: <%= @game.id %><br />
	<%= @visitingteam.name %> <%= @visitingteam.nickname %> (<%= @visitingteam.id %>) v 
	<%= @hometeam.name %> <%= @hometeam.nickname %> (<%= @hometeam.id %>) <br />
	<%= hidden_field_tag "gameid", @game.id %>
  </div>
  <div class="field">
    <%= f.label :winnerteamid %><br />
    <%= f.text_field :winnerteamid %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>