<p id="notice"><%= notice %></p>

<p>
  <b>Gameid:</b>
  <%= @vote.gameid %>
</p>

<p>
  <b>Winnerteamid:</b>
  <%= @vote.winnerteamid %>
</p>

<p>
  <b>Votedby:</b>
  <%= @vote.votedby %>
</p>


<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
